<footer>
    
</footer>
<!-- BEGIN VENDOR JS (jquery)-->
<script src="../theme-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN CHAMELEON  JS-->
<script src="../theme-assets/js/core/app-menu-lite.js" type="text/javascript"></script>
<script src="../theme-assets/js/core/app-lite.js" type="text/javascript"></script>
<!-- END CHAMELEON  JS-->
<!-- BEGIN PAGE LEVEL JS-->
<script src="../theme-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript"></script>
<!-- END PAGE LEVEL JS-->
<!--BEGIN DATATABLES-->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="application/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/scroller/1.5.1/js/dataTables.scroller.min.js"></script>

<!--END DATATABLES-->
</body>